body{
    text-align: center;
    background:linear-gradient(to bottom,#e0e6f4,#d3e0ea, #c7d9e1);
}
header{
    padding: 10px;
}
header h2{
    color: black;
    font-family:"fantasy";
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li:hover{
  background-color:  antiquewhite;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li{
  font-family: 'Baskerville', serif;
}
#Home img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
#Home h2{
  font-family:"serif";
}
#Home p{
    word-spacing: 10px;
  font-family:"cursive";
}
#Bio h2{
  font-family: "fantasy";
}
#Skills h2{
  font-family:"fantasy";
}
#Contact h2{
  font-family:"fantasy";
}
li{
    display: inline;
    padding: 10px;
}
footer{
    padding: 20px;
}
footer p{
    color: black;
}
#Bio pre{
    line-height:20px;
    word-spacing: 5px;
}